@model IEnumerable<CRM.Models.客戶聯絡人>

@{
    ViewBag.Title = ReslangMUI.Languages.CustomerContactManagement;
}

<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="pull-left">
        <p>
            @Html.ActionLink(ReslangMUI.Languages.Create_New, "Create") @if (ViewBag.ReturnUrl != null)
            {
                @Html.Raw("|") <a href="@ViewBag.ReturnUrl">@if(ViewBag.returnTitle!=null) { @Html.Raw((string)ViewBag.returnTitle) } else{ @Html.Raw(ReslangMUI.Languages.Back_to) }</a>
           }
        </p>
    </div>
    <div class="pull-right col-md-6">
        @using (Html.BeginForm("Filiter", "CustomerContactManagement", FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="job_title">職稱:</label>
                    @Html.TextBox("jobTitle",null, new { @class = "form-control", @id = "job_title" })
            </div>
            <div class="form-group">
                <label for="searchFor">@ReslangMUI.Languages.Search:</label>
                    @Html.TextBox("searchFor", null, new { @class = "form-control", @id="searchFor" })
            </div>
            <button type="submit" class="btn btn-default">@Resources.Languages.Search</button>
       
        }

    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.職稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.手機)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電話)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.職稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.姓名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.手機)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td>
                    @Html.ActionLink(ReslangMUI.Languages.Edit, "Edit", new { id = item.Id }) |
                    @Html.ActionLink(ReslangMUI.Languages.Delete, "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>



</table>

@section pagecss{
    @Styles.Render("~/Content/bs/datatable")
}

@section scripts{
    @Scripts.Render("~/bundles/jq/datatable")
    @Scripts.Render("~/bundles/bs/datatable")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "dom": '<"row"rt<"row"<"col-lg-3"l><"col-lg-6"p><"col-lg-3"i>>><"clear">',
                "oLanguage": {
                    "sProcessing": "@ReslangMUI.Languages.sProcessing",
                    "sLengthMenu": "@ReslangMUI.Languages.sLengthMenu",
                    "sZeroRecords": "@ReslangMUI.Languages.sZeroRecords",
                    "sInfo": "@ReslangMUI.Languages.sInfo",
                    "sInfoEmpty": "@ReslangMUI.Languages.sInfoEmpty",
                    "sInfoFiltered": "@ReslangMUI.Languages.sInfoFiltered",
                    "sSearch": "@ReslangMUI.Languages.sSearch",
                    "oPaginate": {
                        "sFirst": "@ReslangMUI.Languages.oPaginate_sFirst",
                        "sPrevious": "@ReslangMUI.Languages.oPaginate_sPrevious",
                        "sNext": "@ReslangMUI.Languages.oPaginate_sNext",
                        "sLast": "@ReslangMUI.Languages.oPaginate_sLast"
                    }
                }
            });
        });
    </script>
}