@model CRM.Models.客戶資料

@{
    ViewBag.Title = ReslangMUI.Languages.CustomerDataManagement;
}

<h2>@ReslangMUI.Languages.Details</h2>

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.統一編號)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.統一編號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.電話)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.電話)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.傳真)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.傳真)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(ReslangMUI.Languages.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink("聯絡人", "Index", "CustomerContactManagement", new { id = Model.Id,returnTitle="返回資料管理", returnUrl = Url.Action("Details", "CustomerDataManagement", new { id=Model.Id }) }, null) |
    @Html.ActionLink("銀行資訊", "Index", "CustomerBankAccountManagement", new { id = Model.Id, returnTitle = "返回資料管理", returnUrl = Url.Action("Details", "CustomerDataManagement", new { id = Model.Id }) }, null) |
    @Html.ActionLink(ReslangMUI.Languages.Back_to_List, "Index")
</p>
